* {
  box-sizing: border-box;
  font-family: Verdana, "Noto Sans", sans-serif;
  margin: 5px 150px;
}

body {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

h1 {
  font-size: 30px;
}

h2 {
  color: #bac2de;
}

h3 {
  color: #a6adc8;
}

h1,
h2,
h3,
h4 {
  margin-top: 25px;
}

p {
  font-size: 16px;
  color: #6c7086;
}

li {
  color: #a6adc8;
  margin: 5px 20px;
}

a {
  color: #89b4fa;
}
